<div id="timer-1">
  <div class="timer">
    <span class="timer" data-value="days">11</span>
    <span class="label">Days</span>
  </div>

  <div class="timer">
    <span class="timer" data-value="hours">11</span>
    <span class="label">Hours</span>
  </div>

  <div class="timer">
    <span class="timer" data-value="mins">11</span>
    <span class="label">Minutes</span>
  </div>

  <div class="timer">
    <span class="timer" data-value="secs">11</span>
    <span class="label">Seconds</span>
  </div>
</div>

<!-- <div class="container">
  <p id="timer">
    <span id="timer-days"></span>
    <span id="timer-hours"></span>
    <span id="timer-mins"></span>
    <span id="timer-secs"></span>
  </p>
</div> -->